body {
	padding: 10px;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.success {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.blog {
	padding: 5px;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.toggle {
	margin-bottom: 10px;
}

.toggled div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.toggled button {
	margin-top: 5px;
}
